# Python & Build Junk
__pycache__/
*.py[cod]
*.spec
build/
dist/

# Private Keys & Configs (SVARBU!)
*.pem
config.json
translator_error.log

# User Data
projects/
old/
UPLOAD/

# Misc
recompile_game_files.py
test_encoding_variants.py
