# Python šiukšlės
__pycache__/
*.py[cod]
*.spec

# PyInstaller šiukšlės
build/
dist/

# Konfigūracija ir raktai (LABAI SVARBU)
config.json
key.pem
cert.pem
translator_error.log

# Projektai ir darbiniai failai
projects/
UPLOAD/
old/

# Vartotojo sugeneruoti failai
recompile_game_files.py
test_encoding_variants.py
